.ctitle .ctitle-item.value {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.chart {
    display: flex;
    flex-direction: column;
}

.chart-legend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.chart-legend .legend {
    display: block;
}

.chart-legend .legend.hidden {
    opacity: .55;
}

.chart-header {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 0.6em;
}

.chart-header .ctitle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.chart-header .ctitle-item {
    display: block;
    white-space: nowrap;
    line-height: 1;
}

.chart-header .ctitle-item.condensed {
    letter-spacing: -0.075em;
}

.chart-header .ctitle-item.condensed i {
    letter-spacing: 0;
}

.chart-header .ctitle-item.text {
    font-weight: 500;
    letter-spacing: -0.05em;
    margin-right: 0.5em;
    opacity: .95;
}

.chart-header .ctitle-item.value {
    font-weight: 500;
    letter-spacing: -0.04em;
}

.chart-header .ctitle-item.value i {
    padding-left: 0.37em;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
}

.chart-header .ctitle-item.value i.top {
    vertical-align: top;
}

.chart-header .ctitle-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chart-header .ctitle-group .ctitle {
    flex-direction: column;
}

.chart-header .ctitle-group .ctitle.hidden {
    display: none;
}

.chart-header .ctitle-group-c3, .chart-header .ctitle-group-c3 .ctitle {
    padding-left: 8px;
    padding-right: 8px;
}

.chart-header .ctitle-group-c3 .ctitle {
    width: 33.3333333333%;
}

.chart-buttons {
    display: none;
    text-align: right;
}

.chart-body canvas {
    width: 100%;
    height: 100%;
}

.chart {
    height: 360px;
}

.chart-legend .legend {
    padding: 0 0.53125rem;
}

.chart-legend .legend img {
    width: 2.125rem;
    height: 2.125rem;
}

.chart-header .ctitle-item.icon, .chart-header .ctitle-item.icon img {
    width: 6.875rem;
    height: 5.5rem;
}

.chart-header .ctitle-item.text {
    font-size: 2.6875rem;
}

.chart-header .ctitle-item.value {
    font-size: 7.375rem;
}

.chart-header .ctitle-item.value i {
    font-size: 2.1875rem;
}

.chart-header .ctitle-item.value i.small {
    font-size: 1.5625rem;
}

.chart-header .ctitle-item.value i.big {
    font-size: 3.28125rem;
}

.chart-header .ctitle-group .ctitle-item.icon, .chart-header .ctitle-group .ctitle-item.icon img {
    width: 4.125rem;
    height: 3.3rem;
}

.chart-header .ctitle-group .ctitle-item.text {
    font-size: 1.6125rem;
}

.chart-header .ctitle-group .ctitle-item.value {
    font-size: 4.425rem;
}

.chart-header .ctitle-group .ctitle-item.value i {
    font-size: 1.3125rem;
}

.chart-header .ctitle-group .ctitle-item.value i.small {
    font-size: 0.9375rem;
}

.chart-header .ctitle-group .ctitle-item.value i.big {
    font-size: 1.96875rem;
}

.chart-header .ctitle-group-r2 .ctitle-item.icon, .chart-header .ctitle-group-r2 .ctitle-item.icon img {
    width: 3.09375rem;
    height: 2.475rem;
}

.chart-header .ctitle-group-r2 .ctitle-item.text {
    font-size: 1.209375rem;
}

.chart-header .ctitle-group-r2 .ctitle-item.value {
    font-size: 3.31875rem;
}

.chart-header .ctitle-group-r2 .ctitle-item.value i {
    font-size: 0.984375rem;
}

.chart-header .ctitle-group-r2 .ctitle-item.value i.small {
    font-size: 0.703125rem;
}

.chart-header .ctitle-group-r2 .ctitle-item.value i.big {
    font-size: 1.4765625rem;
}

.chart-buttons {
    margin: 0.375rem 0.5rem;
}

.chart-body {
    height: 180px;
}

.chart-group .chart {
    background-color: #FFFFFF;
    border: 1px solid #8C8D8F;
}

.chart-group .chart:last-child {
    margin-bottom: 0;
}

.chart-group .chart-header h3 {
    color: #000000;
}

.chart-group .chart-body {
    flex: 1 1 auto;
}

.chart-group {
    margin-bottom: 1.25rem;
}

.chart-group .chart {
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.1875rem 0.3125rem rgba(0, 0, 0, 0.15);
}

.chart-group .chart-header h3 {
    font-size: 1.875rem;
}

.chart-table {
    width: 100%;
}

.chart-table, .chart-table th, .chart-table td {
    border: solid 1px #A5AFB9;
}

.chart-table th, .chart-table td {
    color: #000000;
}

.chart-table th {
    background-color: #DFE2E9;
}

.chart-table td {
    background-color: #FFFFFF;
}

.chart-table thead th {
    text-align: center;
}

.chart-table tbody td {
    white-space: nowrap;
}

.chart-table {
    margin-bottom: 1.25rem;
}

.chart-table th, .chart-table td {
    font-size: 0.8125rem;
    padding: 0.5rem 0.75rem;
}

.test .chart {
    background-color: #f8f9fa;
}

.test .chart .chart-legend {
    background-color: #495057;
}

.test .chart .chart-header .ctitle {
    background-color: #adb5bd;
}

.test .chart .chart-body {
    background-color: #e9ecef;
}

.test .chart .chart-body canvas {
    background-color: #17a2b8;
}

.cpanel {
    border-width: 0;
    position: relative;
    z-index: 0;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.75rem rgba(0, 0, 0, 0.12);
    height: 28.4375rem;
}

.cpanel .cpanel-alert {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cpanel .cpanel-alert .alert-box {
    text-align: center;
}

.cpanel .cpanel-alert .alert-box .alert-icon img {
    width: 91px;
    height: 91px;
}

.cpanel .cpanel-alert .alert-msg {
    font-size: 1.25rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.22);
}

.cpanel .card-header {
    cursor: pointer;
    border-radius: 0;
    border-width: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.cpanel .card-header .title {
    display: block;
    white-space: nowrap;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.cpanel .card-header .nav {
    margin-left: auto;
}

.cpanel .card-header .nav .nav-item.swap,
.cpanel .card-header .nav .nav-item.close {
    display: none;
}

.cpanel .card-header .nav .nav-link {
    opacity: .95;
    padding: .2em .1em;
}

.cpanel .card-header .nav .nav-link:hover {
    opacity: 1;
}

.cpanel .card-body {
    border-radius: 0;
    border-width: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cpanel .card-body .nav-tabs {
    border-bottom: none;
    z-index: 9;
}

.cpanel .card-body .nav-tabs .nav-link {
    border: none;
    padding: 0;
    text-align: center;
    opacity: .70;
}

.cpanel .card-body .nav-tabs .nav-link.active,
.cpanel .card-body .nav-tabs .nav-item.show .nav-link {
    background-color: transparent;
    opacity: 1;
}

.cpanel .card-body .nav-tabs .nav-link.active .ctitle-item i,
.cpanel .card-body .nav-tabs .nav-item.show .nav-link .ctitle-item i {
    opacity: 1;
}

.cpanel .card-body .tab-content {
    flex: 1 1 auto;
    position: relative;
    height: 100%;
}

.cpanel .card-body .tab-content .tab-pane {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cpanel .card-body .chart {
    flex: 1 1 auto;
    position: relative;
    height: 100%;
}

.cpanel .card-body .chart .chart-header .ctitle {
    cursor: pointer;
}

.cpanel .card-body .nav-tabs .ctitle-item i {
    opacity: .875;
}

.cpanel .card-body .nav-tabs .ctitle-item.icon {
    margin-right: .2em;
}

.cpanel .card-body .nav-tabs .ctitle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.cpanel .card-body .nav-tabs .ctitle-item {
    display: block;
    white-space: nowrap;
    line-height: 1;
}

.cpanel .card-body .nav-tabs .ctitle-item.condensed {
    letter-spacing: -0.075em;
}

.cpanel .card-body .nav-tabs .ctitle-item.condensed i {
    letter-spacing: 0;
}

.cpanel .card-body .nav-tabs .ctitle-item.text {
    font-weight: 500;
    letter-spacing: -0.05em;
    margin-right: 0.5em;
    opacity: .95;
}

.cpanel .card-body .nav-tabs .ctitle-item.value {
    font-weight: 500;
    letter-spacing: -0.04em;
}

.cpanel .card-body .nav-tabs .ctitle-item.value i {
    padding-left: 0.37em;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
}

.cpanel .card-body .nav-tabs .ctitle-item.value i.top {
    vertical-align: top;
}

.cpanel .cpanel-alert {
    color: #7C7C7C;
}

.cpanel .card-header {
    background-color: #e9edf5;
}

.cpanel .card-header .title,
.cpanel .card-header .nav-link {
    color: #111111;
}

.cpanel .card-header .status {
    color: #545454;
}

.cpanel .card-body {
    color: #545454;
    background-color: #FFFFFF;
    background-image: radial-gradient(ellipse 50% 50% at 50% 75%, #FFFFFF 0, transparent 100%);
}

.cpanel .card-body .nav-tabs .nav-link,
.cpanel .card-body .nav-tabs .nav-link .ctitle .citem {
    color: #73777B;
}

.cpanel .card-body .nav-tabs .ctitle-item.icon, .cpanel .card-body .nav-tabs .ctitle-item.icon img {
    width: 2.125rem;
    height: 2.125rem;
}

.cpanel .card-body .nav-tabs .ctitle-item.text {
    font-size: 0.875rem;
}

.cpanel .card-body .nav-tabs .ctitle-item.value {
    font-size: 1.375rem;
}

.cpanel .card-body .nav-tabs .ctitle-item.value i {
    font-size: 1rem;
}

.cpanel .card-body .nav-tabs .ctitle-item.value i.small {
    font-size: 0.9375rem;
}

.cpanel .card-body .nav-tabs .ctitle-item.value i.big {
    font-size: 1.5rem;
}

.cpanel .cpanel-alert {
    border-radius: 0.625rem;
}

.cpanel .card-header {
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    height: 2.5rem;
    padding: 0.625rem 0.75rem;
}

.cpanel .card-header .title,
.cpanel .card-header .nav-item,
.cpanel .card-header .nav-link {
    font-size: 0.9375rem;
}

.cpanel .card-header .img-close {
    width: 1.5rem;
    height: 1.5rem;
}

.cpanel .card-body {
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    padding: 0.625rem 0.75rem;
}

.cpanel .card-body .nav-tabs {
    margin-bottom: -0.5rem;
}

.cpanel .card-body .nav-tabs .nav-item {
    margin-bottom: 0.5rem;
}

.cpanel .chart .chart-body {
    height: 11.25rem;
}

.cpanel .card-body .nav-tabs {
    justify-content: flex-start;
}

.cpanel .card-body .nav-tabs .nav-item {
    width: 33.3333333333%;
}

.col-6 .cpanel .chart .chart-header .ctitle-group {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-6 .cpanel .chart .chart-header .ctitle-group .ctitle {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    flex-direction: row;
}

.col-6 .cpanel .chart .chart-header .ctitle-group-c3, .col-6 .cpanel .chart .chart-header .ctitle-group-c3 .ctitle {
    padding-left: 0;
    padding-right: 0;
}

.col-6 .cpanel .chart .chart-header .ctitle-group-c3 .ctitle {
    width: 100%;
    justify-content: center;
}

.col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.icon {
    width: 25%;
}

.col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.value {
    width: 2.6em;
}

.col-6 .cpanel .chart .chart-header .ctitle-group-c3 .ctitle-item.value span {
    width: 1.8em;
    text-align: right;
    display: inline-block;
}

.col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.value span {
    width: 2em;
    text-align: right;
    display: inline-block;
}

.col-6 .cpanel .card-body .nav-tabs {
    justify-content: flex-start;
}

.col-6 .cpanel .card-body .nav-tabs .nav-item {
    width: 50%;
}

.col-6 .cpanel .card-header .nav .nav-item.swap {
    display: list-item;
}

.col-6 .cpanel .card-body {
    overflow-x: hidden;
}

.col-6 .cpanel.cpanel-notitle:not(.cpanel-popup) .chart .chart-header .ctitle {
    flex-flow: column;
}

.col-6 .cpanel.cpanel-notitle:not(.cpanel-popup) .chart .chart-header .ctitle-item.text {
    margin-right: 0;
    margin-bottom: 0.5em;
}

.col-6 .cpanel .chart .chart-header .ctitle-item.icon, .col-6 .cpanel .chart .chart-header .ctitle-item.icon img {
    width: 4.95rem;
    height: 3.96rem;
}

.col-6 .cpanel .chart .chart-header .ctitle-item.text {
    font-size: 1.935rem;
}

.col-6 .cpanel .chart .chart-header .ctitle-item.value {
    font-size: 5.31rem;
}

.col-6 .cpanel .chart .chart-header .ctitle-item.value i {
    font-size: 1.575rem;
}

.col-6 .cpanel .chart .chart-header .ctitle-item.value i.small {
    font-size: 1.125rem;
}

.col-6 .cpanel .chart .chart-header .ctitle-item.value i.big {
    font-size: 2.3625rem;
}

.col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.icon, .col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.icon img {
    width: 2.8875rem;
    height: 2.31rem;
}

.col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.text {
    font-size: 1.12875rem;
}

.col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.value {
    font-size: 3.0975rem;
}

.col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.value i {
    font-size: 0.91875rem;
}

.col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.value i.small {
    font-size: 0.65625rem;
}

.col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.value i.big {
    font-size: 1.378125rem;
}

.col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.icon, .col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.icon img {
    width: 2.8875rem;
    height: 2.31rem;
}

.col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.text {
    font-size: 1.12875rem;
}

.col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.value {
    font-size: 3.0975rem;
}

.col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.value i {
    font-size: 0.91875rem;
}

.col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.value i.small {
    font-size: 0.65625rem;
}

.col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.value i.big {
    font-size: 1.378125rem;
}

.cpanel.cpanel-popup,
.col-6 .cpanel.cpanel-popup {
    background-color: #D9DEE9;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    background-attachment: fixed;
    background-image: url("../img/bg.png");
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    min-height: 100vh;
    overflow: hidden;
    box-shadow: none;
    padding: 147px 16px 16px;
}

.cpanel.cpanel-popup .card-header,
.cpanel.cpanel-popup .card-body,
.col-6 .cpanel.cpanel-popup .card-header,
.col-6 .cpanel.cpanel-popup .card-body {
    margin: 0 auto;
    width: 100%;
}

.cpanel.cpanel-popup .card-header,
.col-6 .cpanel.cpanel-popup .card-header {
    cursor: auto;
}

.cpanel.cpanel-popup .card-header .nav .nav-item.swap,
.col-6 .cpanel.cpanel-popup .card-header .nav .nav-item.swap {
    display: none;
}

.cpanel.cpanel-popup .card-header .nav .nav-item.close,
.col-6 .cpanel.cpanel-popup .card-header .nav .nav-item.close {
    display: list-item;
}

.cpanel.cpanel-popup .chart .chart-header,
.col-6 .cpanel.cpanel-popup .chart .chart-header {
    flex: 0 1 auto;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle {
    cursor: auto;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-group,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group {
    flex-direction: row;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle {
    flex-direction: column;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.icon,
.cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.value,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.icon,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.value {
    width: auto;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-group-c3 .ctitle-item.value span, .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.value span,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group-c3 .ctitle-item.value span,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.value span {
    width: auto;
    text-align: center;
    display: inline;
}

.cpanel.cpanel-popup .chart .chart-buttons,
.col-6 .cpanel.cpanel-popup .chart .chart-buttons {
    display: block;
}

.cpanel.cpanel-popup .chart .chart-body,
.col-6 .cpanel.cpanel-popup .chart .chart-body {
    flex: 1 1 auto;
}

.cpanel.cpanel-popup .card-body,
.col-6 .cpanel.cpanel-popup .card-body {
    min-height: 25.9375rem;
}

.cpanel.cpanel-popup .chart .chart-header,
.col-6 .cpanel.cpanel-popup .chart .chart-header {
    height: 11.25rem;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-item.icon, .cpanel.cpanel-popup .chart .chart-header .ctitle-item.icon img,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-item.icon,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-item.icon img {
    width: 7.90625rem;
    height: 6.325rem;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-item.text,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-item.text {
    font-size: 3.090625rem;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-item.value,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-item.value {
    font-size: 8.48125rem;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-item.value i,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-item.value i {
    font-size: 2.515625rem;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-item.value i.small,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-item.value i.small {
    font-size: 1.796875rem;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-item.value i.big,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-item.value i.big {
    font-size: 3.7734375rem;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.icon, .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.icon img,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.icon,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.icon img {
    width: 4.8125rem;
    height: 3.85rem;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.text,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.text {
    font-size: 1.88125rem;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.value,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.value {
    font-size: 5.1625rem;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.value i,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.value i {
    font-size: 1.53125rem;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.value i.small,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.value i.small {
    font-size: 1.09375rem;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.value i.big,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.value i.big {
    font-size: 2.296875rem;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.icon, .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.icon img,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.icon,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.icon img {
    width: 3.575rem;
    height: 2.86rem;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.text,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.text {
    font-size: 1.3975rem;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.value,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.value {
    font-size: 3.835rem;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.value i,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.value i {
    font-size: 1.1375rem;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.value i.small,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.value i.small {
    font-size: 0.8125rem;
}

.cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.value i.big,
.col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.value i.big {
    font-size: 1.70625rem;
}

.cpanel.cpanel-popup .card-body .nav-tabs,
.col-6 .cpanel.cpanel-popup .card-body .nav-tabs {
    justify-content: center;
}

.cpanel.cpanel-popup .card-body .nav-tabs .nav-item,
.col-6 .cpanel.cpanel-popup .card-body .nav-tabs .nav-item {
    width: 16.6666666667%;
}

.cpanel.censor-dust.status-good .cpanel-alert {
    color: #FFFFFF;
}

.cpanel.censor-dust.status-good .card-header {
    background-color: #0856D0;
}

.cpanel.censor-dust.status-good .card-header .title,
.cpanel.censor-dust.status-good .card-header .nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.cpanel.censor-dust.status-good .card-header .status {
    color: #00EAFF;
}

.cpanel.censor-dust.status-good .card-body {
    color: #FFFFFF;
    background-color: #0163F3;
    background-image: radial-gradient(ellipse 50% 50% at 50% 75%, #10A6F4 0, transparent 100%);
}

.cpanel.censor-dust.status-good .card-body .nav-tabs .nav-link,
.cpanel.censor-dust.status-good .card-body .nav-tabs .nav-link .ctitle .citem {
    color: #FFFFFF;
}

.cpanel.censor-dust.status-normal .cpanel-alert {
    color: #FFFFFF;
}

.cpanel.censor-dust.status-normal .card-header {
    background-color: #459112;
}

.cpanel.censor-dust.status-normal .card-header .title,
.cpanel.censor-dust.status-normal .card-header .nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.cpanel.censor-dust.status-normal .card-header .status {
    color: #95FE00;
}

.cpanel.censor-dust.status-normal .card-body {
    color: #FFFFFF;
    background-color: #56A814;
    background-image: radial-gradient(ellipse 50% 50% at 50% 75%, #6FD91A 0, transparent 100%);
}

.cpanel.censor-dust.status-normal .card-body .nav-tabs .nav-link,
.cpanel.censor-dust.status-normal .card-body .nav-tabs .nav-link .ctitle .citem {
    color: #FFFFFF;
}

.cpanel.censor-dust.status-bad .cpanel-alert {
    color: #FFFFFF;
}

.cpanel.censor-dust.status-bad .card-header {
    background-color: #E87E06;
}

.cpanel.censor-dust.status-bad .card-header .title,
.cpanel.censor-dust.status-bad .card-header .nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.cpanel.censor-dust.status-bad .card-header .status {
    color: #F4F52C;
}

.cpanel.censor-dust.status-bad .card-body {
    color: #FFFFFF;
    background-color: #EC8E07;
    background-image: radial-gradient(ellipse 50% 50% at 50% 75%, #FFC424 0, transparent 100%);
}

.cpanel.censor-dust.status-bad .card-body .nav-tabs .nav-link,
.cpanel.censor-dust.status-bad .card-body .nav-tabs .nav-link .ctitle .citem {
    color: #FFFFFF;
}

.cpanel.censor-dust.status-alert .cpanel-alert {
    color: #FFFFFF;
}

.cpanel.censor-dust.status-alert .card-header {
    background-color: #C82500;
}

.cpanel.censor-dust.status-alert .card-header .title,
.cpanel.censor-dust.status-alert .card-header .nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.cpanel.censor-dust.status-alert .card-header .status {
    color: #FFEA00;
}

.cpanel.censor-dust.status-alert .card-body {
    color: #FFFFFF;
    background-color: #D53700;
    background-image: radial-gradient(ellipse 50% 50% at 50% 75%, #FA8D00 0, transparent 100%);
}

.cpanel.censor-dust.status-alert .card-body .nav-tabs .nav-link,
.cpanel.censor-dust.status-alert .card-body .nav-tabs .nav-link .ctitle .citem {
    color: #FFFFFF;
}

.cpanel.censor-vib .cpanel-alert {
    color: #FFFFFF;
}

.cpanel.censor-vib .card-header {
    background-color: #2F2A5A;
}

.cpanel.censor-vib .card-header .title,
.cpanel.censor-vib .card-header .nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.cpanel.censor-vib .card-header .status {
    color: rgba(255, 255, 255, 0.6);
}

.cpanel.censor-vib .card-body {
    color: #FFFFFF;
    background-color: #0D0834;
    background-image: radial-gradient(ellipse 50% 50% at 50% 75%, #146CA4 0, transparent 100%);
}

.cpanel.censor-vib .card-body .nav-tabs .nav-link,
.cpanel.censor-vib .card-body .nav-tabs .nav-link .ctitle .citem {
    color: #FFFFFF;
}

.cpanel.censor-vib2 .cpanel-alert {
    color: #FFFFFF;
}

.cpanel.censor-vib2 .card-header {
    background-color: #2F2A5A;
}

.cpanel.censor-vib2 .card-header .title,
.cpanel.censor-vib2 .card-header .nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.cpanel.censor-vib2 .card-header .status {
    color: rgba(255, 255, 255, 0.6);
}

.cpanel.censor-vib2 .card-body {
    color: #FFFFFF;
    background-color: #0D0834;
    background-image: radial-gradient(ellipse 50% 50% at 50% 75%, #670D7D 0, transparent 100%);
}

.cpanel.censor-vib2 .card-body .nav-tabs .nav-link,
.cpanel.censor-vib2 .card-body .nav-tabs .nav-link .ctitle .citem {
    color: #FFFFFF;
}

.cpanel.censor-gas .cpanel-alert {
    color: #FFFFFF;
}

.cpanel.censor-gas .card-header {
    background-color: #2F2A5A;
}

.cpanel.censor-gas .card-header .title,
.cpanel.censor-gas .card-header .nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.cpanel.censor-gas .card-header .status {
    color: rgba(255, 255, 255, 0.6);
}

.cpanel.censor-gas .card-body {
    color: #FFFFFF;
    background-color: #0D0834;
    background-image: radial-gradient(ellipse 50% 50% at 50% 75%, #1E695E 0, transparent 100%);
}

.cpanel.censor-gas .card-body .nav-tabs .nav-link,
.cpanel.censor-gas .card-body .nav-tabs .nav-link .ctitle .citem {
    color: #FFFFFF;
}

.cpanel.censor-weather .cpanel-alert {
    color: #FFFFFF;
}

.cpanel.censor-weather .card-header {
    background-color: #8F37EF;
}

.cpanel.censor-weather .card-header .title,
.cpanel.censor-weather .card-header .nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.cpanel.censor-weather .card-header .status {
    color: rgba(255, 255, 255, 0.6);
}

.cpanel.censor-weather .card-body {
    color: #FFFFFF;
    background-color: #9C40FF;
    background-image: radial-gradient(ellipse 50% 50% at 50% 75%, #CB80FF 0, transparent 100%);
}

.cpanel.censor-weather .card-body .nav-tabs .nav-link,
.cpanel.censor-weather .card-body .nav-tabs .nav-link .ctitle .citem {
    color: #FFFFFF;
}

.cpanel.censor-slope .cpanel-alert {
    color: #000000;
}

.cpanel.censor-slope .card-header {
    background-color: #FFFFFF;
}

.cpanel.censor-slope .card-header .title,
.cpanel.censor-slope .card-header .nav-link {
    color: #666666;
}

.cpanel.censor-slope .card-header .status {
    color: rgba(102, 102, 102, 0.5);
}

.cpanel.censor-slope .card-body {
    color: #4A74FF;
    background-color: #FFFFFF;
    background-image: radial-gradient(ellipse 50% 50% at 50% 75%, #FFFFFF 0, transparent 100%);
}

.cpanel.censor-slope .card-body .nav-tabs .nav-link,
.cpanel.censor-slope .card-body .nav-tabs .nav-link .ctitle .citem {
    color: #FFFFFF;
}

.cpanel.censor-noise .cpanel-alert {
    color: #000000;
}

.cpanel.censor-noise .card-header {
    background-color: #FFFFFF;
}

.cpanel.censor-noise .card-header .title,
.cpanel.censor-noise .card-header .nav-link {
    color: #666666;
}

.cpanel.censor-noise .card-header .status {
    color: rgba(102, 102, 102, 0.5);
}

.cpanel.censor-noise .card-body {
    color: #f70059;
    background-color: #FFFFFF;
    background-image: radial-gradient(ellipse 50% 50% at 50% 75%, #FFFFFF 0, transparent 100%);
}

.cpanel.censor-noise .card-body .nav-tabs .nav-link,
.cpanel.censor-noise .card-body .nav-tabs .nav-link .ctitle .citem {
    color: #FFFFFF;
}

.cpanel.censor-noise2 .cpanel-alert {
    color: #000000;
}

.cpanel.censor-noise2 .card-header {
    background-color: #f9f9fa;
}

.cpanel.censor-noise2 .card-header .title,
.cpanel.censor-noise2 .card-header .nav-link {
    color: #f80c61;
}

.cpanel.censor-noise2 .card-header .status {
    color: rgba(102, 102, 102, 0.5);
}

.cpanel.censor-noise2 .card-body {
    color: #f70059;
    background-color: #FFFFFF;
    background-image: radial-gradient(ellipse 50% 50% at 50% 75%, #FFFFFF 0, transparent 100%);
}

.cpanel.censor-noise2 .card-body .nav-tabs .nav-link,
.cpanel.censor-noise2 .card-body .nav-tabs .nav-link .ctitle .citem {
    color: #f70059;
}

@media (max-width: 767.98px) {
    .chart {
        height: 240px;
    }

    .chart-legend .legend {
        padding: 0 0.48828125rem;
    }

    .chart-legend .legend img {
        width: 1.953125rem;
        height: 1.953125rem;
    }

    .chart-header .ctitle-item.icon, .chart-header .ctitle-item.icon img {
        width: 4.46875rem;
        height: 3.575rem;
    }

    .chart-header .ctitle-item.text {
        font-size: 1.746875rem;
    }

    .chart-header .ctitle-item.value {
        font-size: 4.79375rem;
    }

    .chart-header .ctitle-item.value i {
        font-size: 1.421875rem;
    }

    .chart-header .ctitle-item.value i.small {
        font-size: 1.015625rem;
    }

    .chart-header .ctitle-item.value i.big {
        font-size: 2.1328125rem;
    }

    .chart-header .ctitle-group .ctitle-item.icon, .chart-header .ctitle-group .ctitle-item.icon img {
        width: 1.85625rem;
        height: 1.485rem;
    }

    .chart-header .ctitle-group .ctitle-item.text {
        font-size: 0.725625rem;
    }

    .chart-header .ctitle-group .ctitle-item.value {
        font-size: 1.99125rem;
    }

    .chart-header .ctitle-group .ctitle-item.value i {
        font-size: 0.590625rem;
    }

    .chart-header .ctitle-group .ctitle-item.value i.small {
        font-size: 0.421875rem;
    }

    .chart-header .ctitle-group .ctitle-item.value i.big {
        font-size: 0.8859375rem;
    }

    .chart-header .ctitle-group-r2 .ctitle-item.icon, .chart-header .ctitle-group-r2 .ctitle-item.icon img {
        width: 1.71875rem;
        height: 1.375rem;
    }

    .chart-header .ctitle-group-r2 .ctitle-item.text {
        font-size: 0.671875rem;
    }

    .chart-header .ctitle-group-r2 .ctitle-item.value {
        font-size: 1.84375rem;
    }

    .chart-header .ctitle-group-r2 .ctitle-item.value i {
        font-size: 0.546875rem;
    }

    .chart-header .ctitle-group-r2 .ctitle-item.value i.small {
        font-size: 0.390625rem;
    }

    .chart-header .ctitle-group-r2 .ctitle-item.value i.big {
        font-size: 0.8203125rem;
    }

    .chart-buttons {
        margin: 0.375rem 0.5rem;
    }

    .chart-body {
        height: 140px;
    }

    .chart-group {
        margin-bottom: 0.75rem;
    }

    .chart-group .chart {
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.15);
    }

    .chart-group .chart-header h3 {
        font-size: 1.125rem;
    }

    .chart-table {
        margin-bottom: 0.75rem;
    }

    .chart-table th, .chart-table td {
        font-size: 0.59375rem;
        padding: 0.25rem 0.375rem;
    }

    .cpanel {
        border-radius: 0.375rem;
        box-shadow: 0.1875rem 0.1875rem 0.5625rem rgba(0, 0, 0, 0.12);
        height: 18.75rem;
    }

    .cpanel .card-body .nav-tabs .ctitle-item {
        letter-spacing: -0.05em;
    }

    .cpanel .card-body .nav-tabs .ctitle-item.icon, .cpanel .card-body .nav-tabs .ctitle-item.icon img {
        width: 1.5625rem;
        height: 1.5625rem;
    }

    .cpanel .card-body .nav-tabs .ctitle-item.text {
        font-size: 0.5rem;
    }

    .cpanel .card-body .nav-tabs .ctitle-item.value {
        font-size: 1.0625rem;
    }

    .cpanel .card-body .nav-tabs .ctitle-item.value i {
        font-size: 0.5625rem;
    }

    .cpanel .card-body .nav-tabs .ctitle-item.value i.small {
        font-size: 0.25rem;
    }

    .cpanel .card-body .nav-tabs .ctitle-item.value i.big {
        font-size: 0.84375rem;
    }

    .cpanel .cpanel-alert {
        border-radius: 0.375rem;
    }

    .cpanel .card-header {
        border-top-left-radius: 0.375rem;
        border-top-right-radius: 0.375rem;
        height: 2rem;
        padding: 0.375rem 0.5rem;
    }

    .cpanel .card-header .title,
    .cpanel .card-header .nav-item,
    .cpanel .card-header .nav-link {
        font-size: 0.78125rem;
    }

    .cpanel .card-header .img-close {
        width: 1.375rem;
        height: 1.375rem;
    }

    .cpanel .card-body {
        border-bottom-left-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
        padding: 0.375rem 0.5rem;
    }

    .cpanel .card-body .nav-tabs {
        margin-bottom: -0.25rem;
    }

    .cpanel .card-body .nav-tabs .nav-item {
        margin-bottom: 0.25rem;
    }

    .cpanel .chart .chart-body {
        height: 7.75rem;
    }

    .cpanel .card-body .nav-tabs {
        justify-content: flex-start;
    }

    .cpanel .card-body .nav-tabs .nav-item {
        width: 33.3333333333%;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-item.icon, .col-6 .cpanel .chart .chart-header .ctitle-item.icon img {
        width: 2.26875rem;
        height: 1.815rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-item.text {
        font-size: 0.886875rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-item.value {
        font-size: 2.43375rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-item.value i {
        font-size: 0.721875rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-item.value i.small {
        font-size: 0.515625rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-item.value i.big {
        font-size: 1.0828125rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.icon, .col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.icon img {
        width: 1.5125rem;
        height: 1.21rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.text {
        font-size: 0.59125rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.value {
        font-size: 1.6225rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.value i {
        font-size: 0.48125rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.value i.small {
        font-size: 0.34375rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.value i.big {
        font-size: 0.721875rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.icon, .col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.icon img {
        width: 1.44375rem;
        height: 1.155rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.text {
        font-size: 0.564375rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.value {
        font-size: 1.54875rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.value i {
        font-size: 0.459375rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.value i.small {
        font-size: 0.328125rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.value i.big {
        font-size: 0.6890625rem;
    }

    .cpanel.cpanel-popup,
    .col-6 .cpanel.cpanel-popup {
        padding: 100px 8px 8px;
    }

    .cpanel.cpanel-popup .card-body,
    .col-6 .cpanel.cpanel-popup .card-body {
        min-height: 16.75rem;
    }

    .cpanel.cpanel-popup .chart .chart-header,
    .col-6 .cpanel.cpanel-popup .chart .chart-header {
        height: 7.5rem;
    }

    .cpanel.cpanel-popup .chart .chart-header .ctitle-item.icon, .cpanel.cpanel-popup .chart .chart-header .ctitle-item.icon img,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-item.icon,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-item.icon img {
        width: 4.8125rem;
        height: 3.85rem;
    }

    .cpanel.cpanel-popup .chart .chart-header .ctitle-item.text,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-item.text {
        font-size: 1.88125rem;
    }

    .cpanel.cpanel-popup .chart .chart-header .ctitle-item.value,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-item.value {
        font-size: 5.1625rem;
    }

    .cpanel.cpanel-popup .chart .chart-header .ctitle-item.value i,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-item.value i {
        font-size: 1.53125rem;
    }

    .cpanel.cpanel-popup .chart .chart-header .ctitle-item.value i.small,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-item.value i.small {
        font-size: 1.09375rem;
    }

    .cpanel.cpanel-popup .chart .chart-header .ctitle-item.value i.big,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-item.value i.big {
        font-size: 2.296875rem;
    }

    .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.icon, .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.icon img,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.icon,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.icon img {
        width: 2.26875rem;
        height: 1.815rem;
    }

    .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.text,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.text {
        font-size: 0.886875rem;
    }

    .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.value,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.value {
        font-size: 2.43375rem;
    }

    .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.value i,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.value i {
        font-size: 0.721875rem;
    }

    .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.value i.small,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.value i.small {
        font-size: 0.515625rem;
    }

    .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.value i.big,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group .ctitle-item.value i.big {
        font-size: 1.0828125rem;
    }

    .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.icon, .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.icon img,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.icon,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.icon img {
        width: 2.0625rem;
        height: 1.65rem;
    }

    .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.text,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.text {
        font-size: 0.80625rem;
    }

    .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.value,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.value {
        font-size: 2.2125rem;
    }

    .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.value i,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.value i {
        font-size: 0.65625rem;
    }

    .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.value i.small,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.value i.small {
        font-size: 0.46875rem;
    }

    .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.value i.big,
    .col-6 .cpanel.cpanel-popup .chart .chart-header .ctitle-group-r2 .ctitle-item.value i.big {
        font-size: 0.984375rem;
    }

    .cpanel.cpanel-popup .chart .chart-buttons,
    .col-6 .cpanel.cpanel-popup .chart .chart-buttons {
        display: none;
    }

    .cpanel.cpanel-popup .card-body .nav-tabs,
    .col-6 .cpanel.cpanel-popup .card-body .nav-tabs {
        justify-content: flex-start;
    }

    .cpanel.cpanel-popup .card-body .nav-tabs .nav-item,
    .col-6 .cpanel.cpanel-popup .card-body .nav-tabs .nav-item {
        width: 33.3333333333%;
    }
}

@media (min-width: 1200px) {
    .cpanel .card-body .nav-tabs {
        justify-content: flex-start;
    }

    .cpanel .card-body .nav-tabs .nav-item {
        width: 33.3333333333%;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-item.icon, .col-6 .cpanel .chart .chart-header .ctitle-item.icon img {
        width: 4.125rem;
        height: 3.3rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-item.text {
        font-size: 1.6125rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-item.value {
        font-size: 4.425rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-item.value i {
        font-size: 1.3125rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-item.value i.small {
        font-size: 0.9375rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-item.value i.big {
        font-size: 1.96875rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.icon, .col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.icon img {
        width: 2.40625rem;
        height: 1.925rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.text {
        font-size: 0.940625rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.value {
        font-size: 2.58125rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.value i {
        font-size: 0.765625rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.value i.small {
        font-size: 0.546875rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group .ctitle-item.value i.big {
        font-size: 1.1484375rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.icon, .col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.icon img {
        width: 2.40625rem;
        height: 1.925rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.text {
        font-size: 0.940625rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.value {
        font-size: 2.58125rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.value i {
        font-size: 0.765625rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.value i.small {
        font-size: 0.546875rem;
    }

    .col-6 .cpanel .chart .chart-header .ctitle-group-r2 .ctitle-item.value i.big {
        font-size: 1.1484375rem;
    }
}

@media (min-width: 1700px) {
    .cpanel .card-body .nav-tabs {
        justify-content: center;
    }

    .cpanel .card-body .nav-tabs .nav-item {
        width: 16.6666666667%;
    }

    .cpanel.cpanel-popup .card-header,
    .cpanel.cpanel-popup .card-body,
    .col-6 .cpanel.cpanel-popup .card-header,
    .col-6 .cpanel.cpanel-popup .card-body {
        max-width: 1668px;
    }

    #top > .top-header > .container,
    #top > .top-menu > .container,
    #main > .container {
        max-width: 1700px;
        padding: 0 20px;
    }
}

/*# sourceMappingURL=main.css.map */
