<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <title>RBI 건설 웹 모니터링 > 메인</title>
    <!--8.7 : 외부링크 삭제-->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/cpanel.css">
</head>
<body>
<div id="app" class="min-vh-100 p-3">
    <div class="row">
        <div class="col d-flex align-items-center">
            <img src="img/icon.png" alt="" style="width: 40px;">
            <a href="/" class="ml-2 h5 mb-0 text-dark font-weight-bold">RBI 모니터링</a>
            <!--8.7 : 로그인관련 추가-->
            <!--<select name="" id="" class="custom-select-sm shadow  ml-3" style="width: 180px;">
                <option value="0" selected>관리자 화면</option>
                <option value="1">사용자 화면</option>
                <option value="2">지자체 화면</option>
            </select>-->
            <div class="dropdown ml-3">
                <!--  https://getbootstrap.com/docs/4.5/components/dropdowns/ -->
                <button class="btn btn-sm shadow dropdown-toggle" style="width: 160px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    지자체 화면
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item btn-sm" href="#">관리자 화면</a>
                    <a class="dropdown-item btn-sm" href="#">사용자 화면</a>
                    <a class="dropdown-item btn-sm" href="#">지자체 화면</a>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center">
            <div class="ml-auto"><span>test</span> 님</div>
            <button onclick="logout()" style="width: 88px;" class="btn btn-sm btn-light shadow bg-white rounded-xl px-3 text-secondary ml-3">logout</button>
            <!--8.7 : end-->
            <button onclick="$('.spot-img').trigger('hover')" class="btn btn-sm btn-light shadow bg-white rounded-xl px-3 text-secondary ml-3">2020-06-25 22:14:23 <img src="img/arrow-clockwise.png" alt=""></button>
        </div>
    </div>

    <section class="mt-3 shadow" style="border-radius: .75rem;">
        <div class="row no-gutters">
            <div class="col flex-grow-1 position-relative overflow-hidden" style="height: calc(100vh - 88px)">

                <!-- 지도영역 -->
                <div id="map" class="position-absolute w-100 h-100" style="border-radius: .75rem 0 0 .75rem"></div>

                <!-- controller -->
                <div style="position:absolute; right: 60px; bottom: 24px; z-index: 1000">
                    <a href="#none" class="d-block">
                        <img src="img/cursor-fill.png" alt="">
                    </a>
                    <a href="#none" class="d-block">
                        <img src="img/plus.png" alt="">
                    </a>
                    <a href="#none" class="d-block">
                        <img src="img/minus.png" alt="">
                    </a>
                </div>

                <!-- 마커 -->
                <div class="xx" data-toggle="modal" data-target="#modal-detail" v-for="(item,index) in ['primary','success','warning', 'danger','noise','weather']" tabindex="0">
                    <a href="#none"
                       data-toggle="popover" data-trigger="hover"
                       class="position-absolute spot-img"
                       :style="`left: calc(200px * ${index+1}); top: calc(100px * ${index+.5});`">
                        <!--8.7 : 이미지 변경 -->
                        <img :src="`img/spot-${item}.svg`" alt="" style="width: 46px;height: 55px;">
                        <!--8.7 : end-->
                    </a>

                    <div class="popper-content d-none">
                        <div class="arrow"></div>
                        <h3 class="popover-header">그룹 A, 그룹 B</h3>
                        <!--                        <h3 class="popover-header bg-primary">그룹 A, 그룹 B</h3>-->
                        <!--                        <h3 class="popover-header bg-success">그룹 A, 그룹 B</h3>-->
                        <!--                        <h3 class="popover-header bg-warning">그룹 A, 그룹 B</h3>-->
                        <!--                        <h3 class="popover-header bg-danger">그룹 A, 그룹 B</h3>-->
                        <!--                        <h3 class="popover-header bg-noise">그룹 A, 그룹 B</h3>-->
                        <!--                        <h3 class="popover-header bg-weather">그룹 A, 그룹 B</h3>-->
                        <div class="popover-body">
                            <div class="p-3 border-bottom">
                                <h5 class="mb-0">한화건설-포레나루원시티 2</h5>
                                <small class="text-secondary">인천광역시 서구 가정동 255-23</small>
                            </div>
                            <div class="p-3">
                                <div v-for="(item,index) in ['text-primary','text-success','text-warning','text-danger']">
                                    <div class="d-flex justify-content-between" :class="item">
                                        <span>소음센서 {{index}} - Leq</span>
                                        <span>65.6 dB(A)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-auto px-3 pt-3" style="width: 300px;">

                <div class="position-relative">
                    <form action="">
                        <div class="input-group ml-auto border rounded">
                            <input type="search" @focus="search=true" class="form-control border-0">
                            <div class="input-group-append">
                                <button type="submit" @click="search = false" class="btn text-secondary bg-white border-0">
                                    <img src="img/search.png" alt="">
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="border p-3 rounded-lg position-absolute w-100 bg-white" style="top: 40px; z-index: 1000" v-if="!search">
                        <div class="text-primary font-weight-bold">

                            <div class="d-flex">
                                <div>검색 결과가 없습니다.</div>
                                <a href="#none" class="ml-auto" @click="search=!search">
                                    <img src="img/x.png" alt="" class="h5">
                                </a>
                            </div>

                            <div class="d-flex">
                                <div>검색 결과[5개]</div>
                                <a href="#none" class="ml-auto" @click="search=!search">
                                    <img src="img/x.png" alt="" class="h5">
                                </a>
                            </div>
                        </div>
                        <!-- 결과값이 10개 이상이면 스크롤 -->
                        <ul class="list-unstyled mb-0 mt-2" style="max-height: 240px; overflow-y: auto">
                            <li v-for="item in 11"><a href="#none" class="text-dark">현대건설 - 광교산 힐스테이트 {{item}}</a></li>
                        </ul>
                    </div>
                </div>

                <div role="tablist" class="mt-3" style="height: calc(100vh - 160px); overflow-x: hidden; overflow-y: auto">


                    <div class="accordion" id="accordion">
                        <div v-for="(item,index) in 12">
                            <div class="card">
                                <div class="card-header p-0 border-0" :id="`heading-${item}`">
                                    <button class="btn btn-dark btn-block text-left" :class="{'collapsed' : index!=0}" type="button" data-toggle="collapse" :data-target="`#collapse-${item}`" :aria-expanded="index!=0 ? true : false" :aria-controls="`collapse-${item}`">
                                        <span>그룹 {{item}}</span>
                                    </button>
                                </div>

                                <div :id="`collapse-${item}`" class="collapse" :class="{'show' : index==0}" :aria-labelledby="`heading-${item}`" data-parent="#accordion">
                                    <div class="card-body p-0">
                                        <div class="px-3 py-2 border-bottom text-secondary">현장 목록 (4)</div>
                                        <div class="px-3">
                                            <div v-for="item in 3" class="my-3">
                                                <!-- todo : popover-->
                                                <a href="#none" class="h6 text-dark">GS건설 - 파주 법원 {{item}}</a>
                                                <div v-for="(item,index) in ['text-primary','text-success','text-warning','text-danger']">
                                                    <div class="d-flex justify-content-between small" :class="item">
                                                        <span>소음센서 {{index}} - Leq</span>
                                                        <span>65.6 dB(A)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<!-- 상세팝업-->
<div id="modal-detail" class="modal" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content border-0 bg-transparent">
            <div class="modal-header d-block p-0">
                <div class="bg-dark text-white px-3 py-2 w-100 rounded-top">그룹 A, 그룹 B</div>
                <div class="bg-white p-3 d-flex align-items-center">
                    <div>
                        <h5 class="mb-0 mt-2">한화건설 - 포레나루원시티 2</h5>
                        <small class="text-secondary">인천광역시 서구 가정동 255-23</small>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body p-3 pt-3 pb-0 rounded-bottom bg-white" style="overflow-x: hidden">

                <div class="row">
                    <!-- .col-6 ... : 한칸 크기 센서패널을 위한 세로 컨테이너 -->
                    <div class="col-12 col-md-12 col-lg-12 mb-3">
                        <div id="cpanel-noise2" class="card cpanel censor-dust status-good">
                            <div class="card-header">
                                <h5 class="title">소음센서 #한화건설 포레나 루원시티 소음센서</h5>
                                <ul class="nav">
                                    <li class="nav-item close">
                                        <a href="#close" class="nav-link" title="닫기">
                                            <img class="img-close" src="http://221.143.20.239:8888/user/img/close.svg" alt="닫기">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="p-3">
                                    <div class="row justify-content-center custom-alert">
                                        <div style="width: 2.2rem; height: 2.2rem;" class="center rounded-circle small font-weight-bold mx-2 alert-purple">Leq</div>
                                        <div style="width: 2.2rem; height: 2.2rem;" class="center rounded-circle small font-weight-bold mx-2 alert-primary">Lmax</div>
                                        <div style="width: 2.2rem; height: 2.2rem;" class="center rounded-circle small font-weight-bold mx-2 alert-danger">L10</div>
                                    </div>

                                    <div class="row my-4">
                                        <div class="col text-center" v-for="(value,key) in items">
                                            <span class="h5 font-weight-bold">{{key}}</span>
                                            <div>
                                                <span class="h1 font-weight-bold">{{value}}</span>
                                                <span class="h6">dB(A)</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="height: 160px;">
                                        <canvas id="myChart"></canvas>
                                    </div>
                                </div>
                            </div> <!-- /.card-body -->
                        </div> <!-- /#cpanel-gas -->
                    </div>
                    <!-- /.col-6 ... -->
                </div>

                <div class="row">
                    <!-- .col-6 ... : 한칸 크기 센서패널을 위한 세로 컨테이너 -->
                    <div class="col-12 col-md-12 col-lg-12 mb-3">
                        <div id="cpanel-noise1" class="card cpanel censor-noise2">
                            <div class="card-header">
                                <h5 class="title">
                                    소음센서 #SK건설 인천 루원2 소음

                                </h5>
                                <ul class="nav">
                                    <li class="nav-item close">
                                        <a href="#close" class="nav-link" title="닫기">
                                            <img class="img-close" src="http://221.143.20.239:8888/user/img/close.svg" alt="닫기">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="nav nav-tabs" role="tablist">

                                    <a class="nav-item nav-link active" href="#NOISE-00000000000007d6-LEQ-1" data-toggle="tab">
									            <span class="ctitle">
										            <span class="ctitle-item icon">
                                                        <img src="http://221.143.20.239:8888/user/img/icon-tab-NOISE-LEQ.svg" alt="Leq">
                                                    </span>
										            <span class="ctitle-item value">
                                                        <span class="NOISE1_LEQ_VALUE">62.1</span>
                                                        <i>dB(A)</i>
                                                    </span>
									            </span>
                                    </a>

                                    <a class="nav-item nav-link" href="#NOISE-00000000000007d6-LMAX-2" data-toggle="tab">
									            <span class="ctitle">
										            <span class="ctitle-item icon">
                                                        <img src="http://221.143.20.239:8888/user/img/icon-tab-NOISE-LMAX.svg" alt="Lmax">
                                                    </span>
										            <span class="ctitle-item value">
                                                        <span class="NOISE1_LMAX_VALUE">81.1</span>
                                                        <i>dB(A)</i>
                                                    </span>
									            </span>
                                    </a>

                                    <a class="nav-item nav-link" href="#NOISE-00000000000007d6-L10-3" data-toggle="tab">
									            <span class="ctitle">
										            <span class="ctitle-item icon">
                                                        <img src="http://221.143.20.239:8888/user/img/icon-tab-NOISE-L10.svg" alt="L10">
                                                    </span>
										            <span class="ctitle-item value">
                                                        <span class="NOISE1_L10_VALUE">63.4</span>
                                                        <i>dB(A)</i>
                                                    </span>
									            </span>
                                    </a>

                                </div> <!-- /.nav-tabs -->
                                <div class="tab-content">

                                    <div id="NOISE-00000000000007d6-LEQ-1" class="tab-pane active">
                                        <div class="chart">
                                            <div class="chart-header">
											            <span class="ctitle">
												            <span class="ctitle-item icon">
                                                                <img src="http://221.143.20.239:8888/user/img/icon-NOISE-LEQ.svg" alt="Leq">
                                                            </span>
												            <span class="ctitle-item value">
                                                                <span id="NOISE1_LEQ_VALUE" class="NOISE1_LEQ_VALUE">62.1</span>
                                                                <i>dB(A)</i>
                                                            </span>
											            </span>
                                            </div>

                                            <div class="chart-buttons">
                                                <a href="#" onclick="goReportDownload('00000000000007d6', 'NOISE')">
                                                    <img src="http://221.143.20.239:8888/user/img/report-down-1.svg" alt="Report 다운로드">
                                                </a>
                                            </div>

                                            <div class="chart-body">
                                                <div class="chartjs-size-monitor">
                                                    <div class="chartjs-size-monitor-expand">
                                                        <div class=""></div>
                                                    </div>
                                                    <div class="chartjs-size-monitor-shrink">
                                                        <div class=""></div>
                                                    </div>
                                                </div>
                                                <canvas id="CHART-NOISE1_1" style="display: block; width: 1636px; height: 180px;" class="chartjs-render-monitor" width="1636" height="180"></canvas>
                                            </div>
                                        </div> <!-- /.chart -->
                                    </div>
                                    <!-- /.tab-pane -->

                                    <div id="NOISE-00000000000007d6-LMAX-2" class="tab-pane">
                                        <div class="chart">
                                            <div class="chart-header">
											            <span class="ctitle">
												            <span class="ctitle-item icon">
                                                                <img src="http://221.143.20.239:8888/user/img/icon-NOISE-LMAX.svg" alt="Lmax">
                                                            </span>
												            <span class="ctitle-item value">
                                                                <span id="NOISE1_LMAX_VALUE" class="NOISE1_LMAX_VALUE">81.1</span>
                                                                <i>dB(A)</i>
                                                            </span>
											            </span>
                                            </div>

                                            <div class="chart-buttons">
                                                <a href="#" onclick="goReportDownload('00000000000007d6', 'NOISE')">
                                                    <img src="http://221.143.20.239:8888/user/img/report-down-1.svg" alt="Report 다운로드">
                                                </a>
                                            </div>

                                            <div class="chart-body">
                                                <canvas id="CHART-NOISE1_2" class="chartjs-render-monitor" width="0" height="0" style="display: block; width: 0px; height: 0px;"></canvas>
                                            </div>
                                        </div> <!-- /.chart -->
                                    </div>
                                    <!-- /.tab-pane -->

                                    <div id="NOISE-00000000000007d6-L10-3" class="tab-pane">
                                        <div class="chart">
                                            <div class="chart-header">
											            <span class="ctitle">
												            <span class="ctitle-item icon">
                                                                <img src="http://221.143.20.239:8888/user/img/icon-NOISE-L10.svg" alt="L10">
                                                            </span>
												            <span class="ctitle-item value">
                                                                <span id="NOISE1_L10_VALUE" class="NOISE1_L10_VALUE">63.4</span>
                                                                <i>dB(A)</i>
                                                            </span>
											            </span>
                                            </div>

                                            <div class="chart-buttons">
                                                <a href="#" onclick="goReportDownload('00000000000007d6', 'NOISE')">
                                                    <img src="http://221.143.20.239:8888/user/img/report-down-1.svg" alt="Report 다운로드">
                                                </a>
                                            </div>

                                            <div class="chart-body">
                                                <canvas id="CHART-NOISE1_3" class="chartjs-render-monitor" width="0" height="0" style="display: block; width: 0px; height: 0px;"></canvas>
                                            </div>
                                        </div> <!-- /.chart -->
                                    </div>
                                    <!-- /.tab-pane -->

                                </div> <!-- /.tab-content -->
                            </div> <!-- /.card-body -->
                        </div> <!-- /#cpanel-gas -->
                    </div>
                    <!-- /.col-6 ... -->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.bundle.js"></script>
<script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var uluru = {lat: -25.344, lng: 131.036};
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 4, center: uluru});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});
    }

    $(function () {
        // todo : 로컬 확인용
        initMap();
    });
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVKiKdhyXpbz9QMEQ8jjQO9CuuGB0bR-8&callback=initMap"></script>
<script src="js/vue.js"></script>
<!-- todo : chart.js : 로컬 테스트가 안되서 cdn으로 개발중, 배포시 로컬 파일로 교체 -->
<!--<script src="js/chart.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
